@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

:root {
  --background: #0b0c0e;
  --foreground: #ffffff;
}

@theme inline {
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter);
}

body {
  background-color: #0b0c0e;
  color: #ffffff;
}